.wrapper {
  padding: 1rem;
}

.bc {
  display: flex;
  clear: both;
  user-select: none;
}

.bc > *:not(:last-child) {
  opacity: .8;
}

.bc > *:not(:last-child)::after {
  content: '/';
  margin: 0 .5rem;
}


