.mask {
  /* display: none; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  z-index: 2;
  transition: all ease-in-out 50ms;
  pointer-events: none;
}

.mask.active {
  /* display: block; */
  opacity: .7;
  pointer-events: all;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(.9);
  transition: all ease-in-out 50ms;
  transition-delay: 50ms;
  pointer-events: none;
}

.content.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  pointer-events: all
}

