@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: color ease-out 200ms;
  --primary-color: #2ecc71;
  --secondary-color: #2980b9;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --warning-color: #f1c40f;
  --info-color: #2980b9;
  --empty-color: #7f8c8d;
  --confirm-color: #2ecc71;
  --cancel-color: #e74c3c;
  --primary-background-color: #fff;
  --secondary-background-color: #fff;
  --title-color: #000;
  --text-color: #030303;
  --divider-color: rgba(0, 0, 0, .3);
}

.dark-mode,
.dark-mode * {
  --primary-color: #242526;
  --secondary-color: #2980b9;
  --confirm-color: #242526;
  --cancel-color: #242526;
  --click-color: rgba(0, 0, 0, .2);
  --primary-background-color: #18191a;
  --secondary-background-color: #242526;
  --title-color: #fff;
  --text-color: #ddd;
  --divider-color: rgba(255, 255, 255, .3)
}

.dark-mode {
  background-color: var(--primary-background-color);
  color: var(--text-color);
}

a {
  text-decoration-line: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
}

svg {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: block;
  padding: 1rem;
  margin: auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 991.98px) {
  .mobile-only {
    display: block;
  }
  
  .desktop-only {
    display: none !important;
  }
}


@media (min-width: 992px) {
  .container {
    width: 65rem;
  }
  .mobile-only {
    display: none !important;
  }
  
  .desktop-only {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 72rem;
  }
}

