.wrapper {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: .9rem;
  margin: 1rem 0;
}

.wrapper > li {
  display: inline-block;
}

.wrapper > *:not(:last-child) {
  opacity: .8;
}

.wrapper > *:not(:last-child)::after {
  content: '/';
  margin: 0 .5rem;
}
