.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: .5rem 0;
  color: var(--title-color);
}


.list-topic {
  display: block;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 0 0;
}

.list-topic .paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .2rem 2rem ;
  margin: 1rem 0;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, .3);
  font-weight: 600;
  font-size: 1.5rem;
  opacity: .8;
  background-color: var(--secondary-background-color);
  -webkit-transition: all ease-in-out 150;
  -o-transition: all ease-in-out 150;
  transition: all ease-in-out 150
}

.list-topic .paper:hover {
  opacity: 1;
  border-color: rgba(0, 0, 0, .5);
}
.list-topic p {
  margin-top: -.5rem;
  margin-left: 1rem;
}

.icon {
  font-size: 3rem;
  margin: 0;
}


.list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: .5rem;
  gap: 1rem;
  padding-top: 1rem;
}

.list-item a {
  color: var(--title-color);
}

.list-item .paper {
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: var(--secondary-background-color);
  font-weight: 600;
  font-size: 1.2rem;
  opacity: .8;
  -webkit-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.list-item .paper:hover {
  opacity: 1;
  border-color: rgba(0, 0, 0, .5);
  color: #2ecc71;
}

@media (min-width: 992px) {
  .list-item {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  
}