.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 4.5rem;
  padding: .2rem .5rem;
}

.logo {
  height: inherit;
  display: flex;
  align-items: center;
}

.logo > img {
  width: auto;
  height: 100%;
}

.text-logo {
  color: #fff;
  font-size: xx-large;
  font-weight: 700;
  margin-left: -2rem;
}

.header-right {
  margin-right: 1rem;
  color: white;
}

.header-right > div {
  display: inline-flex;
  align-items: center;
  margin-left: 2rem;
}

.header-right > div > span {
  padding: 1.5rem 0;
  cursor: pointer;
}

